body {
    font-family: 'Montserrat', sans-serif;
}

main {
    background-color: #FDFDFF;
    background-image: url('./assets/img/bg-line1.png');
    background-repeat: repeat-y;
    background-size: contain;
}

header {
    height: 60px;
}

header button {
    height: 36px;
    width: 80px;
}

footer {
    height: 60px;
    background-color: #ececec;
}

.logo {
    background-image: url('./assets/img/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height: 56px;
    margin: 0 24px;
    display: inline-block;
    float: left;
}

.logo-gray {
    background-image: url('./assets/img/logo-gray.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 160px;
    height: 56px;
    display: inline-block;
    float: left;
    margin-top: 4px;
}

.footer-text span, .footer-text a {
    font-size: smaller;
}

.italic {
    font-style: italic;
}

.navbar-nav .nav-divider {
    content: url('./assets/img/chevron-right.png');
}

.nav-item.active .nav-link,
.nav-item .nav-link:active,
.nav-item .nav-link:focus,
.nav-item:hover .nav-link {
    color: #00AEEF !important;
}

.menu, .user-section {
    display: inline-block; /* Allow the centering to work */
    margin: 0 auto;
    height: 56px;
}

.menu {
    float: left;
}

.user-section {
    float: right;
    display: flex;
    align-items: center;
}

.row-info {
    background-image: url('./assets/img/bg-top.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.page-info {
    height: 300px;
}

.page-info span {
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.83;
    letter-spacing: -0.86px;
    color: #00aeef;
}

.logout {
    width: 92px;
    height: 32px;
    border-radius: 4px;
    margin: 0 24px;
}

.menu--items-list {
    list-style: none;
    display: block;
}

.menu--items-list li {
    display: inline;
}

ul.menu--items-list li+li:before {
    padding: 8px;
    color: #9e9e9e;
    content: "\003e";
  }

.menu--items-list li a {
    width: 139px;
    height: 18px;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.24px;
    color: #00aeef;
    text-decoration: none;
}

.services-content {
    width: 556px;
    height: 416px;
    border: solid 1px #eeeeee;
    text-align: center;
    float: left;
}

.fileitems-container {
    width: 416px;
    float: left;
}

.dropzone-container {
    width: 976px;
    background-color: #f7fafc;
    margin: 0 auto;
}

.dropzone-upload-icon {
    background-image: url('./assets/img/upload.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 56px;
    display: inline-block;
}

.Dropzone {
}

.spinner {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    z-index: 2;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
}

    .spinner .path {
        stroke: #93bfec;
        stroke-linecap: round;
        -webkit-animation: dash 1.5s ease-in-out infinite;
        animation: dash 1.5s ease-in-out infinite;
    }

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.file-item {
    display: block;
    width: 100%;
    background-color: #f7fafc;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.file-item img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 300px;
    min-width: 100%;
    min-height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.recognize-button {
    width: 160px;
}

.grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-filter: opacity(.2);
    filter: opacity(.2);
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.fl {
    float: left;
}

/* Close Button */

[class*='close-'] {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 15px;
}

.close-classic:after {
    content: 'X'; /* ANSI X letter */
}
